<img src="/images/TaskListLogo.png" alt="Logo" class="logo">
<input type="checkbox" class="nav-toggle" id="nav-toggle">
<label for="nav-toggle" class="nav-toggle-label">
    <span></span>
</label>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Account</a></li>
        <li ><a class="logout-button tl-rounded" href="/logout">Logout</a></li>
    </ul>
</nav>