<img src="/images/TaskListLogo.png" alt="Logo" class="logo">
<input type="checkbox" class="nav-toggle" id="nav-toggle">
<label for="nav-toggle" class="nav-toggle-label">
    <span></span>
</label>

<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Account</a></li>
        <li ><a class="logout-button tl-rounded" href="/logout">Logout</a></li>
        <!-- <li class="dropdown">
            <a href="#">Projects</a>
            <div class="dropdown-content">
                <% projects.forEach((project)=> { %>
                    <a href="#">
                        <%= project.project_name %>
                    </a>
                    <% }); %>
            </div>
        </li>
        <li class="dropdown">
            <a href="#">Views</a>
            <div class="dropdown-content">
                <a href="/table-view">Table view</a>
                <a href="/kanban-view">Kanban view</a>
                <a href="/priority-view">Priority view</a>
            </div>
        </li> -->
    </ul>
</nav>