<div class="sidebar">
    <div class="sidebar-projects">
        <h4>Projects</h4>
        <% userProjects.forEach((project) => { %>
            <a href="#"><%= project.project_name %></a>
        <% }); %>
    </div>
    <div class="sidebar-views">
        <h4>Views</h4>
        <a href="/table-view">Table view</a>
        <a href="/kanban-view">Kanban view</a>
        <a href="/priority-view">Priority view</a>
    </div>
</div>