<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { title: 'Welcome' }); %>
    <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
    
    <div class="landing-container">
        <img src="/images/TaskListLogo.png" alt="" id="logo">
        <h1>Welcome to TaskList</h1>
        <h4>Your place for getting shit done.</h4>
        <form method="get" action="/login" class="landing-form">
            <button class="landing-start-button">Get Started!</button>
        </form>
    </div>

</body>

</html>