<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { title: 'New Project' }); %>
</head>

<body>
    <header>
        <%- include('./partials/navbar'); %>
    </header>

    <content>
        <div class="form-container">
            <div class="form-wrap tl-rounded">
                <h3 class="form-title">Make a New Project</h3>
                <form method="post" action="/new-project" class="project-form" id="project-form">
                    <div class="wrap-form-input">
                        <label for="projectName">Project Name</label>
                        <input type="text" name="projectName" id="project-name" placeholder="Project Name" class="form-input">
                    </div>
                    <p class="form-advice" id="name-advice"></p>
                    <div class="wrap-form-input">
                        <label for="projectDescription">Project Description</label>
                        <input type="text" name="projectDescription" id="project-desc" placeholder="Project Description" class="form-input">
                    </div>
                    <p class="form-advice" id="desc-advice"></p>

                    <button class="form-button">Create Project</button>
                </form>
            </div>
        </div>
    </content>

    <script>
        const form = document.getElementById('project-form');
    
        form.addEventListener('submit', function (event) {
        //     console.log('submitted');
            event.preventDefault();
    
            const name = document.getElementById('project-name').value;
            const nameAdvice = document.getElementById('name-advice');
            const description = document.getElementById('project-desc').value;
            const descriptionAdvice = document.getElementById('desc-advice');
    
    
            const nameRegex = /.*\S.*/;
            const nameError = 'Project Name must not be empty';
            const descRegex = /.*\S.*/;
            const descError = 'Project Description must not be empty';
            
            let errorFlag = 0;
    
            if (nameRegex.test(name) === false) {
                nameAdvice.innerHTML = nameError;
                errorFlag = 1;
            } else {
                nameAdvice.innerHTML = '';
            }
    
            if (descRegex.test(description) === false) {
                descriptionAdvice.innerHTML = descError;
                errorFlag = 1;
            } else {
                descriptionAdvice.innerHTML = '';
            }
    
            if (errorFlag === 0) {
                this.submit();
            }
        });
    </script>
    
</body>

</html>