* {
    font-family: "Lato", serif;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tl-theme-dark: #17252A;
    --tl-theme-keppel: #2B7A78;
    --tl-theme-myrtle: #3AAFA9;
    --tl-theme-offwhite: #DEF2F1;
    --tl-theme-nav-bg: #3AAFA9; /*  #DEF2F1EE; */
    --tl-theme-dragarea: #3AAFA966;
    --tl-theme-white: #FEFFFF;
}

body {
    background-color: var(--tl-theme-offwhite);
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

/* content {
    display: block;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
} */

content {
    min-height: 100dvh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

/* Navigation styling */
header {
    background-color: var(--tl-theme-nav-bg);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo {
    width: 150px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left:0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label:hover {
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--tl-theme-keppel);
    height:2px;
    width: 2em;
    border-radius: 2px;
    position: relative;

}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 200ms;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--tl-theme-nav-bg);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    padding: 0.5em;
}

.dropdown-content a {
    margin-top: 0.5em;

}

.dropdown:hover .dropdown-content {
    background-color: var(--tl-theme-nav-bg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav a {
    color: var(--tl-theme-dark);
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--tl-theme-offwhite);
}

.logout-button {
    background-color: var(--tl-theme-offwhite);
    padding: 3px 10px;
    width: 10ch;
}
.logout-button:hover {
    background-color: var(--tl-theme-dark);
    color: var(--tl-theme-offwhite);
}


@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / span 1;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }
}


.sidebar {
    flex-basis: 180px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2em;
}
.sidebar-projects,
.sidebar-views {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em 0.5em 1em;
}

.sidebar-projects a,
.sidebar-views a {
    width: 100%;
    text-decoration: none;
    color: var(--tl-theme-dark);
    margin: 0.1em;
    padding: 0.2em;
    border: 1px solid var(--tl-theme-myrtle);
    border-radius: 5px;
}

.sidebar-projects a.current-project,
.sidebar-views a.current-view {
    background-color: var(--tl-theme-myrtle);
    color: var(--tl-theme-white);
}

.sidebar-projects a:hover,
.sidebar-views a:hover {
    color: var(--tl-theme-myrtle);
}

.sidebar-projects a.current-project:hover,
.sidebar-views a.current-view:hover {
    color: var(--tl-theme-dark);
}

@media (width < 1000px) {
    content {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
    }

    .sidebar-projects,
    .sidebar-views {
        width: 180px;
    }
}

.container {
    max-width: 98vw;
    /* height: 180vh; */
    margin: 2em auto;
    padding: 0 30px;
    color: var(--tl-theme-dark);
    flex-basis: 800px;
    flex-grow: 9999;
}

.form-container {
    margin: 0 auto;
    width: 100%;
    min-height: 100dvh;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: var(--tl-theme-myrtle); */
}

.form-wrap {
    width: 500px;
    background-color: var(--tl-theme-offwhite);
    border: 1px solid var(--tl-theme-myrtle);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 55px 33px 55px;
}

.form-title {
    display: block;
    font-size: 30px;
    color: var(--tl-theme-dark);
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
}

.project-form, .task-form {
    display: block;
    font-size: 30px;
    color: var(--tl-theme-dark);
    width: 100%;
}

.wrap-form-input {
    width: 100%;
    border-bottom: 2px solid var(--tl-theme-keppel);
    margin-top: 30px;
}

.wrap-form-input label {
    font-size: 16px;
    display: block;
    margin-bottom: -5px;
}

.form-advice {
    height: 14px;
    font-style: italic;
    font-size: 14px;
    margin: 0;
    color: red;
}

.form-info-text {
    font-size: 16px;
    display: block;
    text-align: center;
}

.custom-select {
    position: relative;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--tl-theme-dark);
  top: 57%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--tl-theme-dark);
  top: 72%;
}

.custom-select select{
    appearance: none;
    width: 100%;
    padding: 0.675em 6em 0.675em 1em;
    background-color: var(--tl-theme-offwhite);
    border: 1px solid var(--tl-theme-keppel);
    border-radius: 0.25em;
    color: var(--tl-theme-dark);
    cursor: pointer;
    margin-bottom: 0.1em;
}

.form-input {
    width:100%;
    height: 45px;
    font-size: 15px;
    display: block;
    outline: none;
    border: none;
    color: var(--tl-theme-dark);
    background: transparent;
    padding: 0 5px;
}

.form-button {
    font-size: 15px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5px;
    margin-top: 40px;
    height: 3em;
    outline: none;
    border: none;
    border-radius: 1.5em;
    font-weight: 700;
    background-color: var(--tl-theme-keppel);
    color: var(--tl-theme-offwhite);
}

.delete-button {
    background-color: var(--tl-theme-dark);
    margin-top: 5px;
}

.complete-button {
    background-color: var(--tl-theme-myrtle);
    margin-top: 5px;
}

.form-button:hover {
    cursor: pointer;
    color: var(--tl-theme-dark);
}

.delete-button:hover {
    color: var(--tl-theme-myrtle);
}

.edit-button, .add-button {
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    height: 3em;
    padding: 5px 10px;
    margin-right: 5px;
    outline: none;
    border: none;
    border-radius: 1.5em;
    font-weight: 500;
    color: var(--tl-theme-offwhite);
}

.edit-button {
    background-color: var(--tl-theme-myrtle);
}

.add-button {
    background-color: var(--tl-theme-dark);
}

.edit-button:hover {
    color: var(--tl-theme-dark);
}

.add-button:hover {
    color: var(--tl-theme-myrtle);
}

.dashboard-charts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1100px;
}

.dashboard-charts canvas {
    border: 2px solid var(--tl-theme-keppel);
    border-radius: 15px;
    margin: 10px;
    width: 350px;
}

/* Some utility styling classes */
.tl-rounded {
    /* border: none; */
    border-radius: 15px;
}